<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/error-page.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="centered"> PAGE NOT FOUND</h1>
    <div class="centered">
        <img src="https://image.freepik.com/free-vector/404-error-poster-with-page-found-use-website_1284-49337.jpg" alt="404_picture">
    </div>
</body>
<%- include('includes/end.ejs') %>